[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
obspy = "*"
matplotlib = "*"
websockets = "*"
websocket-client = "*"
Adafruit_MCP3008 = "*"
Adafruit_GPIO = "*"
